<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Observability Platform UI Automation Suite" verbose="2" parallel="false">
    <test name="End-to-End User & Dashboard Flows">
        <classes>
            <class name="com.apiobservability.tests.UserAuthTest"/>
            <class name="com.apiobservability.tests.DashboardTest"/>
            <class name="com.apiobservability.tests.ApiRegistrationUiTest"/>
        </classes>
    </test>
</suite>
